<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gl.education">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="designwidth"
            android:value="750" />
        //设计图的宽,单位是像素,推荐用markman测量,量出来如果是750px那么请尽量去找ui设计师要一份android的设计图.
        <meta-data
            android:name="designdpi"
            android:value="320" />
        //设计图对应的标准dpi,根据下面的那张图找到对应的dpi,比如1080就对应480dpi,如果拿到的是其他宽度的设计图,那么选择一个相近的dpi就好了
        <meta-data
            android:name="fontsize"
            android:value="1.0" />
        //全局字体的大小倍数,有时候老板会觉得你的所有的字小了或者大了,你总不能一个一个去改吧
        <meta-data
            android:name="unit"
            android:value="dp" />
        //你的布局里面用的是px这就写px,你的布局里面用的是dp这就写dp,要统一,不要一会儿px一会儿dp,字体也用px或者dp,不要用sp,微信qq用的肯定不是sp.

        //android:authorities="${applicationId}" 这个值必须与DownloadManager中的authorities一致（不设置则为应用包名）
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <!-- FileProvider配置访问路径，适配7.0及其以上 -->
        <provider
            android:name=".home.utlis.MyFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b8df616b27b0a5659000020" />
        <!-- <meta-data android:value="官网" android:name="UMENG_CHANNEL"/> -->
        <!-- 自动升级类型  self、_360、baidu -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}" />

        <!-- 支付宝B -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- 支付宝E -->


        <!-- 微信B -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信E -->

        <activity
            android:name=".home.activity.GuideActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.activity.HomePageActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".camera.activity.CameraActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".login.LoginInfoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".home.activity.BookMenuActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".home.activity.ChannelActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.PersonDataActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.MyWalletActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.TransactionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.MyCompositionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".home.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.EditUserNameActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.MyClassCollectionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".home.activity.BookDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingassistant.activity.JFBookMenuActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".teachingassistant.activity.JFBookShelfActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".teachingassistant.activity.JFBookContentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".teachingmaterial.activity.JCBookMenuActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".teachingmaterial.activity.JCBookShelfActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".teachingmaterial.activity.JCBookContentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".smallclass.activity.WKBookMenuActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".smallclass.activity.WKBookContentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".smallclass.activity.WKBookShelfActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".teachingassistant.activity.JFBookAnalysisActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingassistant.activity.JFBookOtherMoreActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingassistant.activity.JFBookWKActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingassistant.activity.JFBookOrderPaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingassistant.activity.JFBookPackageBuyActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingassistant.activity.JFBookRechargeAactivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingassistant.activity.JFBookPaySuccessActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingassistant.activity.JFBookBuySuccessActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingmaterial.activity.JCBookOrderPaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingmaterial.activity.JCBookBuySuccessActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingmaterial.activity.JCBookRechargeAactivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".smallclass.activity.WKBookOrderPaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".smallclass.activity.WKBookRechargeAactivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".smallclass.activity.WKBookBuySuccessActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".smallclass.activity.WKBookBetterClassActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".teachingmaterial.activity.JCBookPaySuccessActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".smallclass.activity.WKBookPaySuccessActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".home.activity.SearchResultActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.MyMessageActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.MyJCCollectionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.MyJFCollectionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.MyWKCollectionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.InstallActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.WrongTopicBookActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".camera.activity.CameraResultISBNActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".camera.activity.CameraResultSMActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.MyZXCollectionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".home.activity.RecommendContentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".camera.activity.CameraFinishExplainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.RechargeCenterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.RechargeRecordActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.EditXbActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".home.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".evaluation.activity.WSPKLivingActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".evaluation.activity.WSPKLessonListActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".evaluation.activity.WSPKLessonActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".evaluation.activity.WSPKAnnounceActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".composition.activity.TeacherDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".composition.activity.RAWHotColumnActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".composition.activity.RAWFullScoreColumnActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".composition.activity.RAWCaseColumnActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".composition.activity.RAWListActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".composition.activity.RAWTeacherListActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".composition.activity.RAWUploadActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".home.activity.WEShopActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".composition.activity.RAWDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".composition.activity.RAWPayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.MyCompositionDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.MyCompositionNextActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name=".person.activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />

        <activity android:name=".person.activity.CouponActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity
            android:name=".person.activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity android:name=".home.activity.OrderPayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>

        <activity android:name=".camera.activity.CameraCoverActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"/>
    </application>

</manifest>